<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Pris$ - Investimentos em Criptomoedas</title>
  <meta http-equiv="Cache-Control" content="no-cache" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <meta name="description" content="Pri$ - Faça Investimentos em Criptomoedas de Maneira Fácil e Segura">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="../bower_components/angular/angular-csp.css?simvs1" />
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css?simvs1" />
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap-theme.css?simvs1" />
  <link rel="stylesheet" href="../bower_components/angular-material/angular-material.css?simvs1" />
  <link rel="stylesheet" href="../bower_components/angular-bootstrap/ui-bootstrap-csp.css?simvs1" />
  <link rel="stylesheet" href="../bower_components/angular-ui-notification/dist/angular-ui-notification.css?simvs1" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css?simvs1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css?simvs1">
  <!-- endbuild -->
</head>
<body ng-app="prisappApp" ng-cloak>
  <!--[if lte IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <!-- Add your site or application content here -->
  <div ng-cloak ng-controller="AppCtrl" class="header">

    <section layout="row" flex ng-cloak>
      <md-sidenav style="overflow-x: hidden;" class="md-sidenav-left" md-component-id="left" md-disable-backdrop md-whiteframe="4">
        <md-toolbar class="md-theme-indigo" style="background-color: green; height:75px;">
          <div class="row" style="width:100%;">
            <!--<div class="fotomenu">
              <img class="img-circle" style="width:75px;" src="images/enderson.png" />
            </div>-->
            <div class="nomecxmenu">
              <p class="nomemenu">{{usuario.nome}} {{usuario.sobrenome}}</p>
              <p class="loginmenu">{{usuario.login}}</p>
            </div>
          </div>
          <div style="clear:both;" ></div>
        </md-toolbar>
        <md-content layout-margin style="padding:0;">
          <ul class="nav nav-pills nav-stacked">
            <li><a ng-href="#/main" ng-click="toggleLeft()"><i class="fa fa-home" aria-hidden="true"></i> Início</a></li>
            <li><a ng-href="#/investimento" ng-click="toggleLeft()"><i class="fa fa-money" aria-hidden="true"></i> Investir</a></li>
            <li><a ng-href="#/duvidas" ng-click="toggleLeft()"><i class="fa fa-question-circle" aria-hidden="true"></i> Dúvidas</a></li>
            <li><a ng-href="https://m.me/cashfintech" target="_blank" ng-click="toggleLeft()"><i class="fa fa-comments" aria-hidden="true"></i> Contato</a></li>
            <!--<li><a ng-href="#/transacoes" ng-click="toggleLeft()"><i class="fa fa-exchange" aria-hidden="true"></i> Trsansações</a></li>-->
            <!--<li><a ng-href="#/contatos" ng-click="toggleLeft()"><i class="fa fa-users" aria-hidden="true"></i> Contatos</a></li>-->
            <!--<li><a ng-href="#/cartoes" ng-click="toggleLeft()"><i class="fa fa-credit-card" aria-hidden="true"></i> Cartões de Crédito</a></li>-->
            <!--<li><a ng-href="#/dinheiro" ng-click="toggleLeft()"><i class="fa fa-plus" aria-hidden="true"></i> Adicionar Dinheiro</a></li>-->
            <!--<li><a ng-href="#/banco" ng-click="toggleLeft()"><i class="fa fa-university" aria-hidden="true"></i> Transferir para o Banco</a></li>-->
            <!--<li><a ng-href="#/about" ng-click="toggleLeft()"><i class="fa fa-cog" aria-hidden="true"></i> Ajustes</a></li>-->
            <li><a ng-click="sair()"><i class="fa fa-sign-out" aria-hidden="true"></i> Sair</a></li>
          </ul>
        </md-content>
      </md-sidenav>
    </section>
    
    <div ng-cloak ng-hide="$route.current.loadedTemplateUrl == 'views/login.html'
         || $route.current.loadedTemplateUrl == 'views/comoinvestir.html'" 
         class="navbar navbar-default" 
         role="navigation" 
         style="background-image: linear-gradient(to bottom, green 90%, #f8f8f8 100%);">
      <div class="container">

        <div ng-if="$route.current.loadedTemplateUrl == 'views/main.html'">
          <div style="width:20%; float:left;">
            <md-button ng-click="toggleLeft()" class="md-icon-button" aria-label="Menu">
              <md-icon md-svg-icon="images/menu.svg"></md-icon>
            </md-button>
          </div>
          <div style="width:61%; float:left;">
            <p style="padding-top:10px; color:white; font-size:15px;">
              Pri$
            </p>
          </div>
          <div style="width:17%; float:left;">
            <!--<button type="button" class="btn btn-default btn-sm" style="margin-top:7px;">
              <span class="glyphicon glyphicon-bell"></span> (3)
            </button>-->
          </div>
        </div>

        <div ng-if="$route.current.loadedTemplateUrl == 'views/transacoes.html'">
          <div style="width:20%; float:left;">
            <md-button ng-click="toggleLeft()" class="md-icon-button" aria-label="Menu">
              <md-icon md-svg-icon="images/menu.svg"></md-icon>
            </md-button>
          </div>
          <div style="width:61%; float:left;">
            <p style="padding-top:10px; color:white; font-size:15px;">
              <span style="font-size:10px;">Dinheiro no Pri$</span> - R$ 0,00
            </p>
          </div>
          <div style="width:17%; float:left;">
            <button type="button" class="btn btn-default btn-sm" style="margin-top:7px;">
              <span class="glyphicon glyphicon-bell"></span> (3)
            </button>
          </div>
        </div>

        <div ng-hide="$route.current.loadedTemplateUrl == 'views/main.html'
             || $route.current.loadedTemplateUrl == 'views/transacoes.html'">
          <div style="width:20%; float:left;">
            <md-button ng-click="voltar()" class="md-icon-button" aria-label="Menu">
              <md-icon><i class="fa fa-arrow-left" aria-hidden="true"></i></md-icon>
            </md-button>
          </div>
          
          <div ng-if="$route.current.loadedTemplateUrl == 'views/conquistas.html'"
               style="width:78%; float:left;">
            <p style="padding-top:10px; color:white; font-size:15px;">
              Conquistas
            </p>
          </div>

          <div ng-if="$route.current.loadedTemplateUrl == 'views/contatos.html'"
               style="width:78%; float:left;">
            <md-input-container ng-cloak md-no-float class="md-block" style="margin:0;">
              <md-icon class="name"><i class="fa fa-search" aria-hidden="true"></i></md-icon>
              <input ng-model="pesquisa.login" type="text" placeholder="Procurar pessoas" ng-required="false">
            </md-input-container>
          </div>

          <div ng-if="$route.current.loadedTemplateUrl == 'views/contato.html'"
               style="width:78%; float:left;">
            <p style="padding-top:10px; color:white; font-size:15px;">
              Contato
            </p>
          </div>

          <div ng-if="$route.current.loadedTemplateUrl == 'views/cartoes.html'"
               style="width:78%; float:left;">
            <p style="padding-top:10px; color:white; font-size:15px;">
              Cartões de Crédito
            </p>
          </div>

          <div ng-if="$route.current.loadedTemplateUrl == 'views/cartaonovo.html'"
               style="width:78%; float:left;">
            <p style="padding-top:10px; color:white; font-size:15px;">
              Novo Cartão de Crédito
            </p>
          </div>

          <div ng-if="$route.current.loadedTemplateUrl == 'views/dinheiro.html'"
               style="width:78%; float:left;">
            <p style="padding-top:10px; color:white; font-size:15px;">
              Adicionar Dinheiro
            </p>
          </div>

          <div ng-if="$route.current.loadedTemplateUrl == 'views/banco.html'"
               style="width:78%; float:left;">
            <p style="padding-top:10px; color:white; font-size:15px;">
              Transferir para o Banco
            </p>
          </div>

          <div ng-if="$route.current.loadedTemplateUrl == 'views/investimento.html'
               || $route.current.loadedTemplateUrl == 'views/investimento2.html'"
               style="width:78%; float:left;">
            <p style="padding-top:10px; color:white; font-size:15px;">
              Investir Dinheiro
            </p>
          </div>

          <div ng-if="$route.current.loadedTemplateUrl == 'views/receber.html'"
               style="width:43%; float:left;">
            <p style="padding-top:10px; color:white; font-size:15px;">
              Cobrar
            </p>
          </div>

          <div ng-if="$route.current.loadedTemplateUrl == 'views/receber.html'"
               style="width:37%; float:left;">
            <p ng-click="avancar('receberone')" style="padding-top:10px; font-size:15px; float:left;">
              <strong>avançar</strong>
            </p>
            <md-button ng-click="avancar('receberone')" class="md-icon-button" aria-label="avançar" 
                       style="float:right;">
              <md-icon><i class="fa fa-arrow-right" aria-hidden="true"></i></md-icon>
            </md-button>
          </div>

          <div ng-if="$route.current.loadedTemplateUrl == 'views/pagar.html'"
               style="width:78%; float:left;">
            <p style="padding-top:10px; color:white; font-size:15px;">
              Pagar
            </p>
          </div>

          <div ng-if="$route.current.loadedTemplateUrl == 'views/receberone.html'"
               style="width:78%; float:left;">
            <p style="padding-top:10px; color:white; font-size:15px;">
              Cobrar
            </p>
          </div>
          <div ng-if="$route.current.loadedTemplateUrl == 'views/pagarone.html'"
               style="width:78%; float:left;">
            <p style="padding-top:10px; color:white; font-size:15px;">
              Pagar
            </p>
          </div>

          <div ng-if="$route.current.loadedTemplateUrl == 'views/about.html'"
               style="width:78%; float:left;">
            <p style="padding-top:10px; color:white; font-size:15px;">
              Ajustes
            </p>
          </div>

        </div>

      </div>
    </div>

  </div>

  <div ng-cloak class="container" style="margin-top: -20px;">
    <div ng-view=""></div>
  </div>

  <div ng-cloak class="footer">
    <div class="container">
      
    </div>
  </div>

  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="../bower_components/angular/angular.js?simvs1"></script>
  <script src="../bower_components/angular-route/angular-route.js?simvs1"></script>
  <script src="../bower_components/angular-animate/angular-animate.js?simvs1"></script>
  <script src="../bower_components/ngstorage/ngStorage.min.js?simvs1"></script>
  <script src="../bower_components/angular-aria/angular-aria.js?simvs1"></script>
  <script src="../bower_components/angular-cookies/angular-cookies.js?simvs1"></script>
  <script src="../bower_components/angular-messages/angular-messages.js?simvs1"></script>
  <script src="../bower_components/angular-mocks/angular-mocks.js?simvs1"></script>
  <script src="../bower_components/angular-resource/angular-resource.js?simvs1"></script>
  <script src="../bower_components/angular-sanitize/angular-sanitize.js?simvs1"></script>
  <script src="../bower_components/angular-touch/angular-touch.js?simvs1"></script>
  <script src="../bower_components/angular-material/angular-material.js?simvs1"></script>
  <script src="../bower_components/angular-material/angular-material-mocks.js?simvs1"></script>
  <script src="../bower_components/angular-bootstrap/ui-bootstrap.min.js?simvs1"></script>
  <script src="../bower_components/chart.js/dist/Chart.min.js?simvs1"></script>
  <script src="../bower_components/angular-chart.js/dist/angular-chart.min.js?simvs1"></script>
  <script src="../bower_components/jquery/dist/jquery.js?simvs1"></script>
  <script src="../bower_components/bootstrap/dist/js/bootstrap.js?simvs1"></script>
  <script src="../bower_components/angular-ui-notification/dist/angular-ui-notification.min.js?simvs1"></script>
  <script src="../bower_components/angular-locale-pt-br/angular-locale_pt-br.js?simvs1"></script>
  <script src="../bower_components/moment/moment.js?simvs1"></script>
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="scripts/app.js?simvs2"></script>
  <script src="scripts/controllers/main.js?simvs1"></script>
  <script src="scripts/controllers/about.js?simvs1"></script>
  <script src="scripts/controllers/login.js?simvs1"></script>
  <script src="scripts/controllers/conquistas.js?simvs1"></script>
  <script src="scripts/controllers/contatos.js?simvs1"></script>
  <script src="scripts/controllers/cartoes.js?simvs1"></script>
  <script src="scripts/controllers/cartaonovo.js?simvs1"></script>
  <script src="scripts/controllers/contato.js?simvs1"></script>
  <script src="scripts/controllers/dinheiro.js?simvs1"></script>
  <script src="scripts/controllers/banco.js?simvs1"></script>
  <script src="scripts/controllers/investimento.js?simvs3"></script>
  <script src="scripts/controllers/pagar.js?simvs1"></script>
  <script src="scripts/controllers/receber.js?simvs1"></script>
  <script src="scripts/controllers/pagarone.js?simvs1"></script>
  <script src="scripts/controllers/receberone.js?simvs1"></script>
  <script src="scripts/controllers/transacoes.js?simvs1"></script>
  <script src="scripts/controllers/investimento2.js?simvs2"></script>
  <script src="scripts/controllers/comoinvestir.js?simvs1"></script>
  <script src="scripts/controllers/cadastrar.js?simvs1"></script>
  <script src="scripts/controllers/cadastrarmail.js?simvs1"></script>
  <script src="scripts/controllers/duvidas.js?simvs1"></script>
  <script src="scripts/controllers/contato.js?simvs1"></script>
  <script src="scripts/controllers/contatofb.js?simvs1"></script>
  <!-- endbuild -->
</body>
</html>
