<div ng-cloak class="row">
  
  <div class="col-md-12 text-center" ng-hide="bancook">
    <p>Para sacar o dinheiro do saldo no Pri$ transfira para sua conta bancária.</p>
    <md-button ng-click="okparabanco()" class="md-raised md-primary btnormal" style="background-color: darkgreen;">Cadastrar Conta Bancária</md-button>
    <p>Não possui conta em banco? Crie uma conta digital totalmente grátis.</p>
    <md-button ng-click="okparabanco()" class="md-raised md-primary btnormal" style="background-color: darkgreen;">Criar conta digital grátis</md-button>
  </div>

  <div class="col-md-12 text-center" ng-if="bancook">
    
    <h2>Selecione o banco:</h2>

    <hr />

    <md-content style="padding:10px;">
      <md-radio-group class="md-primary">
        <md-radio-button ng-repeat="item in items"
                         ng-value="item.tipo"
                         ng-class="md-align-top-right">
          <p><i class="fa fa-{{item.tipo}}" aria-hidden="true"></i> {{ item.nome }} </p>
        </md-radio-button>
      </md-radio-group>
    </md-content>

    <md-button ng-click="voltar()" class="md-raised md-primary btnormal" style="background-color: darkgreen;">Sacar</md-button>
  </div>

</div>