<div ng-cloak class="row">
  
  <div class="col-md-12 text-center" ng-hide="bancook">
    <p>Para sacar o dinheiro do saldo no Pri$ transfira para sua conta bancária.</p>
    <md-button ng-click="okparabanco()" class="md-raised md-primary btnormal" style="background-color: darkgreen;">Cadastrar Conta Bancária</md-button>
    <p>Não possui conta em banco? Crie uma conta digital totalmente grátis.</p>
    <md-button ng-click="okparabanco()" class="md-raised md-primary btnormal" style="background-color: darkgreen;">Criar conta digital grátis</md-button>
  </div>

  <div class="col-md-12 text-center" ng-if="bancook">
    <md-content>
      <h2>Selecione o banco:</h2>
      <md-list flex>
        <md-divider></md-divider>
        <md-list-item ng-repeat="item in items">
          <p><i class="fa fa-{{item.tipo}}" aria-hidden="true"></i> {{ item.nome }} </p>
          <input type="radio" name="radio[]" class="md-secondary" ng-model="item.check" />
          <md-divider></md-divider>
        </md-list-item>
      </md-list>
    </md-content>

    <md-button class="md-raised md-primary btnormal" style="background-color: darkgreen;">Sacar</md-button>
  </div>

</div>