<main ng-cloak>
  <div id="divLoad" class="loading" ng-show="ShowLoad">{{ MsgDivLoad }}</div>
  <div class="container">
    <div class="row">
      <div style="margin-left:10px; text-align:center;" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p>&nbsp;</p>
      </div>
    </div>
    <form name="myform" class="form-validation" role="form" novalidate>
      <div class="animate-switch-container" ng-switch on="stage" ng-class="{forward: direction, backward:!direction}">
        <div class="animate-switch" ng-switch-default>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <p>Bem vindo ao <strong>Pri$</strong>, este é um protótipo de aplicativo para investimentos.</p>
              <p>Com ele você será capaz de fazer Investimentos em <strong>Criptomoedas</strong> de Maneira Fácil e Segura.</p>
              <p>Pois você não precisa entender do assunto, nós faremos isto por você.</p>
              <button type="button" class="btn btn-primary" ng-click="next()">Vamos começar</button>
              <hr />
              <p>Esta versão é apenas para simulação.</p>
            </div>
          </div>
        </div>
        <div class="animate-switch" ng-switch-when="stage1">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="form-group">
                <label for="tb-fname">Nome:</label>
                <input type="text" class="form-control" id="tb-fname" name="nome" ng-maxlength="250" ng-model="obj.nome" required ng-class="{'input-error': validar && myform.nome.$error.required}">
                <span class="danger" ng-show="myform.nome.$error.maxlength">
                  Tamanho máximo de caracteres alcançado.
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="form-group">
                <label for="tb-lname">Sobrenome:</label>
                <input type="text" class="form-control" id="tb-lname" name="sobrenome" ng-maxlength="250" ng-model="obj.sobrenome" ng-class="{'input-error': validar && myform.sobrenome.$error.required}" required>
                <span class="danger" ng-show="myform.sobrenome.$error.maxlength">
                  Tamanho máximo de caracteres alcançado.
                </span>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-info" ng-click="back()">Voltar</button>
          <button type="button" class="btn btn-primary" ng-click="next()">Próximo Passo</button>
        </div>
        <div class="animate-switch" ng-switch-when="stage2">
          <strong>{{obj.nome}}</strong>, informe um e-mail válido, você irá receber suas simulações nele.
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="form-group">
                <label for="tb-email">Email:</label>
                <input type="email" class="form-control" id="tb-email" name="email" ng-maxlength="100" ng-model="obj.email" ng-class="{'input-error': validar && myform.email.$error.required}" ng-model-options="{ updateOn: 'blur' }" required>
                <span class="danger" ng-show="myform.email.$error.email">
                  E-mail incorreto.
                </span>
                <span class="danger" ng-show="myform.email.$error.maxlength">
                  Tamanho máximo de caracteres alcançado.
                </span>
              </div>
            </div>
          </div>
          <p>Este e-mail também será usado para você fazer o seu login.</p>
          <button type="button" class="btn btn-info" ng-click="back()">Voltar</button>
          <button type="button" class="btn btn-primary" ng-click="next()">Próximo Passo</button>
        </div>
        <div class="animate-switch" ng-switch-when="stage3">
          <strong>{{obj.nome}}</strong>, por favor, defina uma senha de acesso.
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="form-group">
                <label for="tb-lname">Senha:</label>
                <input type="password" class="form-control" id="tb-senha" name="senha" ng-maxlength="20" ng-model="obj.senha" ng-class="{'input-error': validar && myform.senha.$error.required}" required>
                <span class="danger" ng-show="myform.senha.$error.maxlength">
                  Tamanho máximo de caracteres alcançado.
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="form-group">
                <label for="tb-lname">Repetir Senha:</label>
                <input type="password" class="form-control" id="tb-rsenha" name="rsenha" ng-maxlength="20" ng-model="rsenha" ng-class="{'input-error': validar && myform.rsenha.$error.required}" required>
                <span class="danger" ng-show="myform.rsenha.$error.maxlength">
                  Tamanho máximo de caracteres alcançado.
                </span>
                <span class="danger" ng-show="(rsenha != '' && obj.senha != '') && (rsenha != obj.senha)">
                  As senhas devem ser iguais e estão diferentes.
                </span>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-info" ng-click="back()">Voltar</button>
          <button type="button" class="btn btn-warning" ng-click="submitForm()">Terminar</button>
        </div>
        <div class="animate-switch" ng-switch-when="success">
          <div class="success-wrap">
            <h2 class="confirmation-text">Obrigado</h2>
            <p>Cadastro realizado com sucesso.</p>
            <hr />
            <md-button ng-href="#/main" class="md-raised md-primary btentrar" style="background-color: darkgreen;">Vamos Investir!</md-button>
          </div>
        </div>
        <div class="animate-switch" ng-switch-when="error">
          <div class="error-wrap">
            <h2 class="confirmation-text">Erro</h2>
            <p>Ocorreu uma falha no cadastro.</p>
            <p class="danger"><strong>{{msgerro}}</strong></p>
            <hr />
            <button type="button" class="btn btn-info" ng-click="back()">Voltar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</main>
<style type="text/css">
  /*------>>> Animations <<<-----*/
  .fade {
    opacity: 0;
    -webkit-transition: opacity 0.25s ease-in;
    -moz-transition: opacity 0.25s ease-in;
    -o-transition: opacity 0.25s ease-in;
    /*-ms-transition: opacity 0.25s ease-in;*/
    transition: opacity 0.25s ease-in;
    transition-delay: 0.25s;
  }

    .fade.in {
      opacity: 1;
    }

  .animate-switch-container {
    background-size: 50px 50px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 6px 6px 15px gray;
    height: 350px;
    margin-left: 10px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    width: 90%;
  }

  .animate-switch {
    padding: 10px;
    width: 100%;
  }

    .animate-switch.ng-animate {
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      position: absolute;
    }
    /* hide leaving slide  */
    /* show */
    .animate-switch.ng-leave {
      left: 0;
    }
  /* hide */
  .forward .animate-switch.ng-leave.ng-leave-active {
    left: -100%;
  }

  .backward .animate-switch.ng-leave.ng-leave-active {
    left: 100%;
  }
  /* show entering slide  */
  /* hide */
  .forward .animate-switch.ng-enter {
    left: 100%;
  }

  .backward .animate-switch.ng-enter {
    left: -100%;
  }
  /* show */
  .animate-switch.ng-enter.ng-enter-active {
    left: 0;
  }


  /*-----------------------------------*/
  /*------>>> Validation <<<-----------*/
  /*-----------------------------------*/

  .form-validation input.ng-invalid-maxlength {
    border: 2px solid #D9272D;
  }


  .length-error {
    color: #D9272D;
    display: block;
    font-size: 12px;
    opacity: .8;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    line-height: 18px;
    padding: 10px 10px 5px 10px;
    margin: -25px 0 20px 0;
    background-color: #E3E3E3;
    border-radius: 0 0 5px 5px;
  }

  .input-error {
    border: 2px solid #D9272D;
  }

  /*-----------------------------------*/
  /*------->>> FORM STYLES <<<---------*/
  /*-----------------------------------*/

  .note {
    display: block;
    font-size: 12px;
    opacity: .8;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    line-height: 18px;
  }

  .note-input {
    padding: 10px 10px 5px 10px;
    margin: -25px 0 20px 0;
    background-color: #E3E3E3;
    border-radius: 0 0 5px 5px;
  }

  .note-input-error, .required-error-banner {
    background-color: rgba(217, 39, 45, 0.5);
  }

  /*-----------------------------------*/
  /*----------->>> HELPERS <<<-------------*/
  /*-----------------------------------*/

  /*
   Allow angular.js to be loaded in body, hiding cloaked elements until
   templates compile.  The !important is important given that there may be
   other selectors that are more specific or come later and might alter display.
  */
  [ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
  }

  .danger {
    color: red;
    font-size: 12px;
  }
</style>
