<div ng-cloak class="col-md-12 text-center">
  <strong>Você está vendo nossa apresentação</strong>
  <md-button ng-href="#/login" class="md-raised md-default lnkpular" style="color:white; background-color:red;">
    <i class="fa fa-fast-forward" aria-hidden="true"></i> Pular apresentação - ir para o aplicativo
  </md-button>
  <hr style="clear:both;" />
  <div ng-show="show == 1">
    <h2>Investimento Fácil</h2>
    <p>Com o Pri$ você é capaz de investir em criptomoedas de maneira fácil e com segurança.</p>
    <img src="images/comeceinvestir/1.jpg" />
  </div>
  <div ng-show="show == 2">
    <h4>Criptomoedas</h4>
    <p>Atualmente existem diversas criptomoedas no mercado.</p>
    <img style="height:100px;" src="images/comeceinvestir/2.jpg" />
    <br /><strong>Você não precisa entender do assunto, nós fazemos isso por você.</strong>
  </div>
  <div ng-show="show == 3">
    <h2>Sem risco</h2>
    <p>E por isso nós assumimos todos os riscos.</p>
    <img src="images/comeceinvestir/3.jpg" />
    <h4>E você não perde dinheiro.</h4>
  </div>
  <div ng-show="show == 4">
    <h2>Qualquer valor</h2>
    <p>Você poderá selecionar o valor que quiser investir.</p>
    <hr />
    <img src="images/comeceinvestir/4.png" />
  </div>
  <div ng-show="show == 5">
    <h2>No seu tempo</h2>
    <p>Bastará escolher a quantidade de meses para o tempo de investimento.</p>
    <hr />
    <img src="images/comeceinvestir/5.png" />
  </div>
  <div ng-show="show == 6">
    <h2>Veja quanto</h2>
    <p>Nós calculamos o seu rendimento estimado com base nos últimos meses.</p>
    <hr />
    <img src="images/comeceinvestir/6.png" />
  </div>
  <div ng-show="show == 7">
    <h2>Mais ganhos</h2>
    <p>Quanto maior for o valor e os meses selecionados, maiores serão os seus rendimentos.</p>
    <img src="images/comeceinvestir/7.jpg" />
  </div>
  <div ng-show="show == 8">
    <h4>Seu dinheiro</h4>
    <p>E se você desistir antes do tempo, terá todo o seu dinheiro de volta.</p>
    <img style="height:100px;" src="images/comeceinvestir/8.jpg" />
    <h4>Nós transferimos tudo direto para sua conta bancária sem tarifas.</h4>
  </div>
  <div ng-show="show == 9">
    <h4>Mais dinheiro</h4>
    <p>Sempre que você cumprir o tempo selecionado, você poderá ter mais dinheiro.</p>
    <img style="height:100px;" src="images/comeceinvestir/9.jpg" />
  </div>
  <div ng-show="show == 10">
    <h4>Fácil, Seguro, Sem Riscos e Sem Complicações.</h4>
    <img style="height:100px;" src="images/comeceinvestir/10.jpg" />
  </div>
  <div ng-show="show == 11">
    <h2>Rende muito mais</h2>
    <p>Seu dinheiro poderá render muito mais do que os investimentos tradicionais.</p>
    <img src="images/comeceinvestir/11.jpg" />
  </div>
  <div ng-show="show == 12">
    <h2>Notificações</h2>
    <p>Todas as semanas você receberá notificações informando seus ganhos.</p>
    <img src="images/comeceinvestir/12.jpg" />
  </div>
  <div ng-show="show == 13">
    <h2>Bons investimentos!</h2>
    <img src="images/comeceinvestir/13.jpg" />
  </div>
  <hr />
  <md-button ng-href="#/login" ng-show="show == 13" class="md-raised md-primary lnkproximo"><i class="fa fa-arrow-right" aria-hidden="true"></i> Começar</md-button>
  <md-button ng-click="show = (show + 1)" ng-show="show < 13" class="md-raised md-primary lnkproximo"><i class="fa fa-arrow-right" aria-hidden="true"></i> Próximo</md-button>
  <hr />
  <div style="width:225px; margin: 0 auto;">
    <div ng-click="show = 1" class="circulo {{show === 1 ? 'circulocor' : ''}}"></div>
    <div ng-click="show = 2" class="circulo {{show === 2 ? 'circulocor' : ''}}"></div>
    <div ng-click="show = 3" class="circulo {{show === 3 ? 'circulocor' : ''}}"></div>
    <div ng-click="show = 4" class="circulo {{show === 4 ? 'circulocor' : ''}}"></div>
    <div ng-click="show = 5" class="circulo {{show === 5 ? 'circulocor' : ''}}"></div>
    <div ng-click="show = 6" class="circulo {{show === 6 ? 'circulocor' : ''}}"></div>
    <div ng-click="show = 7" class="circulo {{show === 7 ? 'circulocor' : ''}}"></div>
    <div ng-click="show = 8" class="circulo {{show === 8 ? 'circulocor' : ''}}"></div>
    <div ng-click="show = 9" class="circulo {{show === 9 ? 'circulocor' : ''}}"></div>
    <div ng-click="show = 10" class="circulo {{show === 10 ? 'circulocor' : ''}}"></div>
    <div ng-click="show = 11" class="circulo {{show === 11 ? 'circulocor' : ''}}"></div>
    <div ng-click="show = 12" class="circulo {{show === 12 ? 'circulocor' : ''}}"></div>
    <div ng-click="show = 13" class="circulo {{show === 13 ? 'circulocor' : ''}}"></div>
  </div>

</div>
<style type="text/css">
  .container {
    margin-top: 0px !important;
  }

  .lnkpular {
    float: right;
    font-size: 10px;
    line-height: 25px;
    min-height: 25px;
  }

  .lnkproximo {
    font-size: 10px;
    line-height: 25px;
    min-height: 25px;
  }

  .circulo {
    width: 15px;
    height: 15px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: none;
    border: 1px solid gray;
    float: left;
    margin: 1px;
  }

  .circulocor {
    background: gray !important;
  }
</style>