<main ng-cloak>
  <div id="divLoad" class="loading" ng-show="ShowLoad">
    <div layout="row" layout-sm="column" layout-align="space-around">
      <md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>
    </div>
    <br /><p>{{ MsgDivLoad }}</p>
  </div>

  <div class="container">
    <div class="row">
      <div style="margin-top: 30px; text-align:center;" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p><strong>Você está vendo nossa apresentação</strong></p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <form name="myform" class="form-validation" role="form" novalidate>
          <div class="animate-switch-container" ng-switch on="stage" ng-class="{forward: direction, backward:!direction}">
            <div class="animate-switch" ng-switch-default>
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align:center;">
                  <h4 style="margin-top: 0px;">Pri$ - Protótipo</h4>
                  <p>Com este aplicativo você será capaz de investir em criptomoedas de maneira fácil e com segurança.</p>
                  <img src="images/pig.png" style="height: 150px;" />
                  <hr />
                  <button type="button" class="btn btn-primary btentrar" ng-click="next()">Continuar</button>
                </div>
              </div>
            </div>
            <div class="animate-switch" ng-switch-when="stage1">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align:center;">
                  <h4 style="margin-top: 0px;">Nossa Startup</h4>
                  <p><strong>Pri$</strong> é uma Startup do curso de MBA da FIAP, precisamos da sua ajuda para transformá-la em realidade.</p>
                  <img src="images/comeceinvestir/startup.jpg" style="height: 120px;" class="imgcirc" />
                  <hr />
                  <button type="button" class="btn btn-info btlinha" ng-click="back()"> Voltar </button>&nbsp;
                  <button type="button" class="btn btn-primary btlinha" ng-click="next()">Continuar</button>
                </div>
              </div>
            </div>
            <div class="animate-switch" ng-switch-when="stage2">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align:center;">
                  <h4 style="margin-top: 0px;">Como Funciona?</h4>
                  <p>Basta você se cadastrar e já estará nos ajudando a transformar este protótipo em realidade.</p>
                  <img src="images/comeceinvestir/prototipo.png" style="height: 120px;" class="imgcirc" />
                  <hr />
                  <button type="button" class="btn btn-info btlinha" ng-click="back()"> Voltar </button>&nbsp;
                  <button type="button" class="btn btn-primary btlinha" ng-click="next()">Continuar</button>
                </div>
              </div>
            </div>
            <div class="animate-switch" ng-switch-when="stage3">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align:center;">
                  <h4 style="margin-top: 0px;">A Nossa Idéia</h4>
                  <p>Atualmente existem diversas criptomoedas no mercado.</p>
                  <img style="height:80px;" class="imgcirc" src="images/comeceinvestir/2.jpg" />
                  <br /><br />
                  <p><strong>Você não precisa entender do assunto, nós faremos isso por você.</strong></p>
                  <hr />
                  <button type="button" class="btn btn-info btlinha" ng-click="back()"> Voltar </button>&nbsp;
                  <button type="button" class="btn btn-primary btlinha" ng-click="next()">Continuar</button>
                </div>
              </div>
            </div>
            <div class="animate-switch" ng-switch-when="stage4">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align:center;">
                  <h4 style="margin-top: 0px;">Por que usar o Pri$ ?</h4>
                  <p>O <strong>Pri$</strong> selecionará as melhores criptomoedas para você.</p>
                  <img style="height:80px;" class="imgcirc" src="images/comeceinvestir/3.jpg" />
                  <br /><br />
                  <p><strong>Assim você não perde seu dinheiro. Rende muito mais que os investimentos tradicionais.</strong></p>
                  <hr />
                  <button type="button" class="btn btn-info btlinha" ng-click="back()"> Voltar </button>&nbsp;
                  <button type="button" class="btn btn-primary btlinha" ng-click="next()">Continuar</button>
                </div>
              </div>
            </div>
            <div class="animate-switch" ng-switch-when="stage5">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align:center;">
                  <h4 style="margin-top: 0px;">Não perca dinheiro</h4>
                  <p>Nós iremos aplicar seu dinheiro nas melhores cotações.</p>
                  <img style="height:80px;" class="imgcirc" src="images/comeceinvestir/7.jpg" />
                  <br /><br />
                  <p><strong>E se você desistir, terá todo o seu dinheiro de volta.</strong></p>
                  <hr />
                  <button type="button" class="btn btn-info btlinha" ng-click="back()"> Voltar </button>&nbsp;
                  <button type="button" class="btn btn-primary btlinha" ng-click="next()">Continuar</button>
                </div>
              </div>
            </div>
            <div class="animate-switch" ng-switch-when="stage6">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align:center;">
                  <h4 style="margin-top: 0px;">Fácil e Seguro</h4>
                  <p>Faça quantas simulações desejar.</p>
                  <img style="height:80px;" class="imgcirc" src="images/comeceinvestir/10.jpg" />
                  <br /><br />
                  <p><strong>Esta é apenas uma versão de teste, você pode usar sem riscos. Não é necessário usar dinheiro de verdade.</strong></p>
                  <hr />
                  <button type="button" class="btn btn-info btlinha" ng-click="back()"> Voltar </button>&nbsp;
                  <button type="button" class="btn btn-primary btlinha" ng-click="next()">Continuar</button>
                </div>
              </div>
            </div>
            <div class="animate-switch" ng-switch-when="stage7">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align:center;">
                  <h4 style="margin-top: 0px;">Vamos Começar?</h4>
                  <p>Cadastre-se agora e veja quais são as melhores criptomoedas para investir!</p>
                  <img style="height:80px;" class="imgcirc" src="images/comeceinvestir/12.jpg" />
                  <br /><br />
                  <p><strong>Nos ajude a lançar este App, basta se cadastrar.</strong></p>
                  <hr />
                  <button type="button" class="btn btn-info btlinha" ng-click="back()"> Voltar </button>&nbsp;
                  <a href="#/cadastrarmail" class="btn btn-warning btlinha">Cadastre-se</a>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <md-button ng-href="#/login" class="md-raised md-default btentrar" style="color:white; background-color:red;">
          <i class="fa fa-fast-forward" aria-hidden="true"></i> Pular apresentação
        </md-button>
      </div>
    </div>
  </div>

</main>
<style type="text/css">

  .imgcirc {
    border-radius: 10px;
  }

  .btlinha{
    width:100px;
  }

  /*------>>> Animations <<<-----*/
  .fade {
    opacity: 0;
    -webkit-transition: opacity 0.25s ease-in;
    -moz-transition: opacity 0.25s ease-in;
    -o-transition: opacity 0.25s ease-in;
    /*-ms-transition: opacity 0.25s ease-in;*/
    transition: opacity 0.25s ease-in;
    transition-delay: 0.25s;
  }

    .fade.in {
      opacity: 1;
    }

  .animate-switch-container {
    background-size: 50px 50px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 6px 6px 15px gray;
    height: 350px;
    margin-left: 10px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    width: 90%;
  }

  .animate-switch {
    padding: 10px;
    width: 100%;
  }

    .animate-switch.ng-animate {
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      position: absolute;
    }
    /* hide leaving slide  */
    /* show */
    .animate-switch.ng-leave {
      left: 0;
    }
  /* hide */
  .forward .animate-switch.ng-leave.ng-leave-active {
    left: -100%;
  }

  .backward .animate-switch.ng-leave.ng-leave-active {
    left: 100%;
  }
  /* show entering slide  */
  /* hide */
  .forward .animate-switch.ng-enter {
    left: 100%;
  }

  .backward .animate-switch.ng-enter {
    left: -100%;
  }
  /* show */
  .animate-switch.ng-enter.ng-enter-active {
    left: 0;
  }


  /*-----------------------------------*/
  /*------>>> Validation <<<-----------*/
  /*-----------------------------------*/

  .form-validation input.ng-invalid-maxlength {
    border: 2px solid #D9272D;
  }


  .length-error {
    color: #D9272D;
    display: block;
    font-size: 12px;
    opacity: .8;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    line-height: 18px;
    padding: 10px 10px 5px 10px;
    margin: -25px 0 20px 0;
    background-color: #E3E3E3;
    border-radius: 0 0 5px 5px;
  }

  .input-error {
    border: 2px solid #D9272D;
  }

  /*-----------------------------------*/
  /*------->>> FORM STYLES <<<---------*/
  /*-----------------------------------*/

  .note {
    display: block;
    font-size: 12px;
    opacity: .8;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    line-height: 18px;
  }

  .note-input {
    padding: 10px 10px 5px 10px;
    margin: -25px 0 20px 0;
    background-color: #E3E3E3;
    border-radius: 0 0 5px 5px;
  }

  .note-input-error, .required-error-banner {
    background-color: rgba(217, 39, 45, 0.5);
  }

  /*-----------------------------------*/
  /*----------->>> HELPERS <<<-------------*/
  /*-----------------------------------*/

  /*
   Allow angular.js to be loaded in body, hiding cloaked elements until
   templates compile.  The !important is important given that there may be
   other selectors that are more specific or come later and might alter display.
  */
  [ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
  }

  .danger {
    color: red;
    font-size: 12px;
  }
</style>
