<div ng-cloak class="row">
  <div class="col-md-12 text-center">

    <h3>Informe o Valor:</h3>
    <md-input-container ng-cloak md-no-float class="md-block" style="width:95%;">
      <md-icon class="name"><i class="fa fa-money" aria-hidden="true"></i></md-icon>
      <input ng-model="pesquisa.login" type="text" placeholder="0,00" ng-required="true">
    </md-input-container>

    <hr />

    <p>Selecione a forma de recarga:</p>
    
    <hr />

    <md-content style="padding:10px;">
      <md-radio-group class="md-primary">
        <md-radio-button ng-repeat="item in items"
                         ng-value="item.tipo"
                         ng-class="md-align-top-right">
          <p><i class="fa fa-{{item.tipo}}" aria-hidden="true"></i> {{ item.nome }} </p>
        </md-radio-button>
      </md-radio-group>
    </md-content>

    <md-button ng-click="voltar()" class="md-raised md-primary btnormal" style="background-color: darkgreen;">Recarregar</md-button>

  </div>
</div>
<style type="text/css">
  .md-errors-spacer {
    display: none;
  }

  .md-input-container.md-default-theme.md-input-focused:not(.md-input-invalid) label, md-input-container.md-input-focused:not(.md-input-invalid) label, md-input-container.md-default-theme.md-input-focused:not(.md-input-invalid) md-icon, md-input-container.md-input-focused:not(.md-input-invalid) md-icon {
    color: darkseagreen;
  }

  .md-input-container.md-default-theme.md-input-focused:not(.md-input-invalid) .md-input, md-input-container.md-input-focused:not(.md-input-invalid) .md-input, md-input-container.md-default-theme.md-input-resized:not(.md-input-invalid) .md-input, md-input-container.md-input-resized:not(.md-input-invalid) .md-input {
    border-color: darkseagreen;
  }
</style>