<div id="topo" class="col-md-12 text-center" ng-cloak>
  <div id="divLoad" class="loading" ng-show="ShowLoad">
    <div layout="row" layout-sm="column" layout-align="space-around">
      <md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>
    </div>
    <br /><p>{{ MsgDivLoad }}</p>
  </div>

  <h4>{{usuario.nome}}, veja algumas das principais dúvidas respondidas aqui.</h4>
  <hr />

  <md-content>
    <div class="md-accordion" ng-repeat="data in accordianData">
      <md-toolbar ng-init="data.expanded = false" ng-click="data.expanded = !data.expanded" class="boxperguntas">
        <div class="md-toolbar-tools">
          <p class="pergunta">
            <span>{{data.heading}}</span>
          </p>
          <span flex=""></span>
          <span ng-class="{expandCollapse:true, active:data.expanded}"></span>
        </div>
      </md-toolbar>
      <div ng-class="{dataContent:true, activeContent:data.expanded}">{{data.content}}</div>

      <hr />

    </div>
  </md-content>

  <md-button ng-href="https://m.me/cashfintech" class="md-raised md-primary btnormal"><i class="fa fa-comments" aria-hidden="true"></i> Contato</md-button>

  <hr />

</div>
<style type="text/css">
  .pergunta {
    font-size: 15px;
    text-align: left;
    font-weight: bold;
  }

  .boxperguntas {
    padding: 10px;
  }

  .md-accordion .expandCollapse {
    width: 30px;
    height: 30px;
    position: relative;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    display: block;
    margin-top: -2px;
    margin-left: -2px;
    overflow: hidden;
  }

    .md-accordion .expandCollapse:active {
      border: 0px;
    }

    .md-accordion .expandCollapse:before, .md-accordion .expandCollapse:after {
      width: 30px;
      height: 30px;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      line-height: 32px;
      text-align: center;
      -webkit-transition: .3s all ease-out;
      transition: .3s all ease-out;
    }

    .md-accordion .expandCollapse:before {
      opacity: 1; /*-webkit-transform: rotate(0deg);*/
      transform: rotate(0deg);
      content: "|";
      margin-top: -3px;
    }

    .md-accordion .expandCollapse:after {
      opacity: 1;
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
      content: "|";
      margin-left: -3px;
    }

  .md-accordion .active:before {
    opacity: 1;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-left: 3px;
    margin-top: 0px;
  }

  .md-accordion .dataContent {
    background: #F2F2F2;
    height: 0px;
    overflow: hidden;
    -webkit-transition: .3s all ease-out;
    transition: .3s all ease-out;
  }

  .md-accordion .activeContent {
    height: auto;
    padding: 20px;
    display: block;
  }

  .md-accordion md-toolbar {
    cursor: pointer;
    border-bottom: 1px solid rgb(63,107,181)
  }
</style>
