<div id="topo" class="col-md-12 text-center" ng-cloak>

  <div id="divLoad" class="loading" ng-show="ShowLoad">
    <div layout="row" layout-sm="column" layout-align="space-around">
      <md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>
    </div>
    <br /><p>{{ MsgDivLoad }}</p>
  </div>

  <h4>{{usuario.nome}}, esta é sua simulação.</h4>

  <hr />

  <div>
    <h3><i class="fa fa-calendar" aria-hidden="true"></i> {{ obj.data }} </h3>
    <p><i class="fa fa-money" aria-hidden="true"></i> Investimento: <strong>{{ obj.investimento | currency }}</strong></p>
    <p><i class="fa fa-line-chart" aria-hidden="true"></i> Rendimento: <strong style="font-size:18px;">{{ obj.rendimento | currency }}</strong> </p>
    <p><i class="fa fa-clock-o" aria-hidden="true"></i> Período selecionado: <strong>{{ obj.periodo }} meses</strong> </p>
    <p><i class="fa fa-percent" aria-hidden="true"></i> Percentual: <strong>{{ obj.percentual }}%</strong> </p>
    <p><i class="fa fa-plus-square" aria-hidden="true"></i> Total: <strong style="font-size:18px;">{{ obj.total | currency }}</strong> </p>
  </div>

  <hr />

  <!--<h4><i class="fa fa-usd" aria-hidden="true"></i> Forma de Pagamento:</h4>

  <md-content style="padding:10px;">
    <md-radio-group class="md-primary" ng-model="itemselecionado">
      <md-radio-button ng-repeat="item in items"
                       ng-value="item.tipo"
                       ng-class="md-align-top-right">
        <p><i class="fa fa-{{item.tipo}}" aria-hidden="true"></i> {{ item.nome }} </p>
      </md-radio-button>
    </md-radio-group>
  </md-content>-->

  <md-button ng-click="salvar()" class="md-raised md-primary btnormal" style="background-color: darkgreen;"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Finalizar Simulação</md-button>

  <hr />

  <div>
    <md-list class="md-dense" flex>
      <h4 class="md-no-sticky" style="text-align:center;"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Top moedas últimos 90 dias</h4>
      <p style="font-size:10px;">Estas são as moedas que iremos utilizar para seu investimento render mais.</p>
      <md-list-item class="md-2-line" ng-repeat="moeda in moedas">
        <img ng-src="{{moeda.imagem}}" class="md-avatar" alt="{{moeda.nome}}" />
        <div class="md-list-item-text">
          <h3> {{ moeda.nome }} </h3>
          <p> de <del>{{ moeda.valorinicial | currency }}</del><br />para {{ moeda.valoratual | currency }} </p>
        </div>
        <p ng-show="moeda.subiu" style="color:green; margin-top:17px;">({{moeda.percentual}}%) <i class="fa fa-arrow-up" aria-hidden="true"></i></p>
        <p ng-hide="moeda.subiu" style="color:darkred; margin-top:17px;">({{moeda.percentual}}%) <i class="fa fa-arrow-down" aria-hidden="true"></i></p>
      </md-list-item>
    </md-list>
  </div>

  <hr />

  <md-button ng-href="#/main" class="md-raised md-warn btnormal"><i class="fa fa-ban" aria-hidden="true"></i> Cancelar</md-button>

  <hr />

</div>
<style type="text/css">
  .md-errors-spacer {
    display: none;
  }

  .txtvalor {
    height: 40px !important;
    font-size: 40px !important;
    border-color: darkseagreen !important;
    color: darkseagreen !important;
    text-align: right;
  }
</style>
