<div ng-cloak class="gridmain">
  <md-content ng-cloak>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Resumo">
        <md-content class="md-padding">
          <div class="text-center" ng-show="possui">
            <h4>Olá {{usuario.nome}}, este é o resumo dos seus investimentos.</h4>
          </div>
          <hr ng-show="possui" />
          <div ng-show="possui">
            <div class="resumografico">
              <canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels"></canvas>
              <div class="reumovalor">
                <p>{{resumo.total | currency}}</p>
                <p><i class="fa fa-line-chart" aria-hidden="true"></i> {{resumo.percentual}}%</p>
              </div>
            </div>
            <div style="clear:both;"></div>
            <hr />
            <div style="padding-left:10px;">
              <p><i class="fa fa-money" aria-hidden="true"></i> Total Investido: <strong>{{resumo.investimento | currency}}</strong></p>
              <p><i class="fa fa-line-chart" aria-hidden="true"></i> Rendimento ({{resumo.percentual}}%): <strong>{{resumo.rendimento | currency}}</strong></p>
            </div>
          </div>
          <hr ng-show="possui" />
          <div ng-show="possui">
            <md-button ng-href="#/investimento" class="md-raised md-primary btentrar" style="background-color: darkgreen;"><i class="fa fa-cart-plus" aria-hidden="true"></i> Faça mais investimentos</md-button>
          </div>
          <div class="text-center" ng-hide="possui">
            <h3>Olá {{usuario.nome}}, você ainda não possui investimentos.</h3>
            <i style="font-size:96px;" class="fa fa-line-chart" aria-hidden="true"></i>
          </div>
          <hr ng-hide="possui" />
          <div ng-hide="possui">
            <md-button ng-href="#/investimento" class="md-raised md-primary btentrar" style="background-color: darkgreen;"><i class="fa fa-cart-plus" aria-hidden="true"></i> Iniciar Simulação</md-button>
          </div>
          <div class="text-center" ng-hide="possui">
            <p><br />Comece a simular investimentos agora.</p>
          </div>
        </md-content>
      </md-tab>
      <md-tab label="Histórico">
        <md-content class="md-padding">
          <md-list-item class="md-2-line" ng-repeat="item in items">
            <div class="row" style="margin-left:0;">
              <h3><i class="fa fa-calendar" aria-hidden="true"></i> {{ item.data }} </h3>
              <p><i class="fa fa-money" aria-hidden="true"></i> Investimento: <strong>{{ item.investimento | currency }}</strong></p>
              <p><i class="fa fa-line-chart" aria-hidden="true"></i> Rendimento: <strong style="font-size:18px;">{{ item.rendimento | currency }}</strong> </p>
              <p><i class="fa fa-clock-o" aria-hidden="true"></i> Período selecionado: <strong>{{ item.periodo }}</strong> </p>
              <p><i class="fa fa-{{item.icon}}" aria-hidden="true"></i> {{ item.meses }} </p>
              <br />
              <md-button ng-href="#/banco" ng-show="item.cancel" class="md-raised md-warn btentrar"><i class="fa fa-ban" aria-hidden="true"></i> Cancelar</md-button>
              <md-button ng-href="#/banco" ng-show="item.saque" class="md-raised md-primary btentrar" style="background-color: darkgreen;"><i class="fa fa-gift" aria-hidden="true"></i> Sacar</md-button>
              <md-list class="md-dense" flex>
                <p style="text-align:center;"><strong class="md-no-sticky">Moedas deste investimento</strong></p>
                <md-list-item class="md-2-line" ng-repeat="moeda in item.moedas | filter: moeda.subiu !== true ">
                  <img ng-src="{{moeda.imagem}}" class="md-avatar" alt="{{moeda.nome}}" />
                  <div class="md-list-item-text">
                    <h3> {{ moeda.nome }} </h3>
                  </div>
                  <p ng-show="moeda.subiu" style="color:green; margin-top:17px;">({{moeda.percentual}}%) <i class="fa fa-arrow-up" aria-hidden="true"></i></p>
                </md-list-item>
              </md-list>
              <hr />
            </div>
          </md-list-item>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
