<div ng-cloak style="margin-top:0;">
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Todos">
        <md-content class="md-padding">
          <md-subheader class="md-no-sticky">Todos</md-subheader>
          <md-list-item class="md-2-line" ng-repeat="item in items">
            <img ng-src="{{item.foto}}?25" class="md-avatar" alt="{{item.foto}}"
                 ng-if="item.foto" />
            <div class="md-list-item-text">
              <p style="font-size:10px;"> {{ item.login }} </p>
              <h3 style="color:darkred;" ng-if="item.tipo == '-'">{{item.tipo}} {{ item.valor }} </h3>
              <h3 style="color:darkgreen;" ng-if="item.tipo == '+'">{{item.tipo}} {{ item.valor }} </h3>
              <p> {{ item.data }} </p>
            </div>
          </md-list-item>
        </md-content>
      </md-tab>
      <md-tab label="Recebidos">
        <md-content class="md-padding">
          <md-subheader class="md-no-sticky">Recebidos</md-subheader>
          <md-list-item class="md-2-line" ng-repeat="item in items | filter:{ tipo: '!'+'-' }">
            <img ng-src="{{item.foto}}?25" class="md-avatar" alt="{{item.foto}}"
                 ng-if="item.foto" />
            <div class="md-list-item-text">
              <p style="font-size:10px;"> {{ item.login }} </p>
              <h3 style="color:darkred;" ng-if="item.tipo == '-'">{{item.tipo}} {{ item.valor }} </h3>
              <h3 style="color:darkgreen;" ng-if="item.tipo == '+'">{{item.tipo}} {{ item.valor }} </h3>
              <p> {{ item.data }} </p>
            </div>
          </md-list-item>
        </md-content>
      </md-tab>
      <md-tab label="Pagos">
        <md-content class="md-padding">
          <md-subheader class="md-no-sticky">Pagos</md-subheader>
          <md-list-item class="md-2-line" ng-repeat="item in items | filter:{ tipo: '!'+'+' }">
            <img ng-src="{{item.foto}}?25" class="md-avatar" alt="{{item.foto}}"
                 ng-if="item.foto" />
            <div class="md-list-item-text">
              <p style="font-size:10px;"> {{ item.login }} </p>
              <h3 style="color:darkred;" ng-if="item.tipo == '-'">{{item.tipo}} {{ item.valor }} </h3>
              <h3 style="color:darkgreen;" ng-if="item.tipo == '+'">{{item.tipo}} {{ item.valor }} </h3>
              <p> {{ item.data }} </p>
            </div>
          </md-list-item>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
<div class="lock-size" layout="row" layout-align="center center" ng-cloak>
  <md-fab-speed-dial md-open="isOpen" md-direction="up" class="md-fling">
    <md-fab-trigger>
      <md-button aria-label="menu" class="md-fab md-warn">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </md-button>
    </md-fab-trigger>

    <md-fab-actions>
      <md-button aria-label="Pagar" class="md-fab md-raised">
        <p class="btfab">Pagar</p>
      </md-button>
      <md-button aria-label="Receber" class="md-fab md-raised">
        <p class="btfab2">Receber</p>
      </md-button>
    </md-fab-actions>
  </md-fab-speed-dial>
</div>