<div ng-cloak class="gridmain">

  <div id="divLoad" class="loading" ng-show="ShowLoad">
    <div layout="row" layout-sm="column" layout-align="space-around">
      <md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>
    </div>
    <br /><p>{{ MsgDivLoad }}</p>
  </div>

  <md-content ng-cloak>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Resumo">
        <md-content class="md-padding">
          <div class="text-center" ng-show="possui">
            <h4>Olá {{usuario.nome}}, este é o resumo dos seus investimentos.</h4>
          </div>
          <hr ng-show="possui" />
          <div ng-show="possui">
            <div class="resumografico">
              <canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels"></canvas>
              <div class="reumovalor">
                <p>{{resumo.total | currency}}</p>
                <p><i class="fa fa-line-chart" aria-hidden="true"></i> {{resumo.percentual}}%</p>
              </div>
            </div>
            <div style="clear:both;"></div>
            <hr />
            <div style="padding-left:10px;">
              <p><i class="fa fa-money" aria-hidden="true"></i> Total Investido: <strong>{{resumo.investimento | currency}}</strong></p>
              <p><i class="fa fa-line-chart" aria-hidden="true"></i> Rendimento ({{resumo.percentual}}%): <strong>{{resumo.rendimento | currency}}</strong></p>
            </div>
          </div>
          <hr ng-show="possui" />
          <div ng-show="possui">
            <md-button ng-href="#/investimento" class="md-raised md-primary btentrar" style="background-color: darkgreen;"><i class="fa fa-cart-plus" aria-hidden="true"></i> Faça mais simulações</md-button>
            <hr />
            <md-button ng-href="#/duvidas" class="md-raised md-warn btentrar"><i class="fa fa-question-circle" aria-hidden="true"></i> Dúvidas</md-button>
          </div>
          <div class="text-center" ng-hide="possui">
            <h3>Olá {{usuario.nome}}, você ainda não possui investimentos.</h3>
            <i style="font-size:96px;" class="fa fa-line-chart" aria-hidden="true"></i>
          </div>
          <hr ng-hide="possui" />
          <div ng-hide="possui">
            <md-button ng-href="#/investimento" class="md-raised md-primary btentrar" style="background-color: darkgreen;"><i class="fa fa-cart-plus" aria-hidden="true"></i> Iniciar Simulação</md-button>
          </div>
          <div class="text-center" ng-hide="possui">
            <p><br />Comece a simular investimentos agora.</p>
          </div>
        </md-content>
      </md-tab>
      <md-tab label="Histórico">
        <md-content class="md-padding">
          <md-list-item class="md-2-line" ng-repeat="item in items">
            <div class="row" style="margin-left:0;">
              <div>
                <h3><i class="fa fa-calendar" aria-hidden="true"></i> {{ item.datainvestimento }} </h3>
                <p><i class="fa fa-money" aria-hidden="true"></i> Investimento: <strong>{{ item.investimento | currency }}</strong></p>
                <p><i class="fa fa-line-chart" aria-hidden="true"></i> Rendimento: <strong style="font-size:18px;">{{ item.rendimento | currency }}</strong> </p>
                <p><i class="fa fa-clock-o" aria-hidden="true"></i> Período selecionado: <strong>{{ item.periodo }} meses</strong> </p>
                <p><i class="fa fa-percent" aria-hidden="true"></i> Percentual: <strong>{{ item.percentual }}%</strong> </p>
                <p><i class="fa fa-plus-square" aria-hidden="true"></i> Total: <strong style="font-size:18px;">{{ item.total | currency }}</strong> </p>
              </div>
              <br />
              <!--<md-button ng-href="#/banco" ng-show="item.cancel === true || item.cancel === '1'" class="md-raised md-warn btentrar"><i class="fa fa-ban" aria-hidden="true"></i> Cancelar</md-button>
              <md-button ng-href="#/banco" ng-show="item.saque === true || item.saque === '1'" class="md-raised md-primary btentrar" style="background-color: darkgreen;"><i class="fa fa-gift" aria-hidden="true"></i> Sacar</md-button>-->
              <div>
                <md-list class="md-dense" flex>
                  <p style="font-size:10px;">Estas são as moedas utilizadas para seu investimento render mais.</p>
                  <md-list-item class="md-2-line" ng-repeat="moeda in item.moedas">
                    <img ng-src="{{moeda.imagem}}" class="md-avatar" alt="{{moeda.nome}}" />
                    <div class="md-list-item-text">
                      <h3> {{ moeda.nome }} </h3>
                      <p> de <del>{{ moeda.valorinicial | currency }}</del><br />para {{ moeda.valoratual | currency }} </p>
                    </div>
                    <p ng-show="moeda.subiu" style="color:green; margin-top:17px;">({{moeda.percentual}}%) <i class="fa fa-arrow-up" aria-hidden="true"></i></p>
                    <p ng-hide="moeda.subiu" style="color:darkred; margin-top:17px;">({{moeda.percentual}}%) <i class="fa fa-arrow-down" aria-hidden="true"></i></p>
                  </md-list-item>
                </md-list>
              </div>
              <hr />
            </div>
          </md-list-item>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
