<div ng-cloak class="row">
  <div class="col-md-12 text-center">

    <p><strong>Pessoas:</strong> @renata.bischoff, @marcello.piola, @maria.alice</p>

    <hr />

    <h3>Informe o Valor:</h3>
    <md-input-container ng-cloak md-no-float class="md-block" style="width:95%;">
      <md-icon class="name"><i class="fa fa-money" aria-hidden="true"></i></md-icon>
      <input ng-model="pesquisa.login" type="text" placeholder="0,00" ng-required="true">
    </md-input-container>

    <hr />
    
    Fotos

    <hr />

    Descrição

    <hr />

    <md-button class="md-raised md-primary btnormal" style="background-color: darkgreen;">Enviar</md-button>

  </div>
</div>