body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
}

p {
  font-size: 16px;
}

.margin {
  margin-bottom: 45px;
}

.bg-1 {
  background-color: #1abc9c; /* Green */
  color: #ffffff;
}

.bg-2 {
  background-color: #474e5d; /* Dark Blue */
  color: #ffffff;
}

.bg-3 {
  background-color: #ffffff; /* White */
  color: #555555;
}

.bg-4 {
  background-color: #2f2f2f; /* Black Gray */
  color: #fff;
}

.container-fluid {
  padding-top: 19px;
  padding-bottom: 0;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

.navbar-nav li a:hover {
  color: #1abc9c;
}

@media (min-width: 768px) {
  .container, .navbar {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container, .navbar {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container, .navbar {
    width: 1170px;
  }
}

.moto {
  background-image: url("../../../images/moto.png");
  height: 668px;
  padding-top: 60px;
  width: 347px;
}


/* Large desktops and laptops */
@media (min-width: 1200px) {
  .moto {
    margin-left: 35%;
  }
  .moto2 {
    margin-left: 0;
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .moto {
    margin-left: 30%;
  }
  .moto2 {
    margin-left: 0;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .moto {
    margin-left: 25%;
  }
  .moto2 {
    margin-left: 25%;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .moto {
    margin-left: 0;
  }
  .moto2 {
    margin-left: 0;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  .moto {
    margin-left: -10%;
  }
  .moto2 {
    margin-left: -10%;
  }
}